@model IEnumerable<crud.Models.Autor>
<br>
<h1 style="text-align: center;">Display</h1>
<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">Name

            </th>
            <th scope="col">Nacionality

            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <th scope="col">@items.Id</th>
                <td>@items.Name</td>
                <td>@items.Nationality</td>
                <td>
                    <a asp-action="Update" asp-route-id="@items.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>